Code - OSS
LM Studio
blender/4.4/config
copyq
dconf
gh
go/telemetry/local
htop
kde.org
lazygit
millennium
neofetch
neomutt
nvim
nvm
octave
pulse
redshift
spotify-player
systemd/user
wal_steam
wallpaper
waybar_bak
wlogout
wofi
yazi
zathura
dolphinrc
user-dirs.dirs
user-dirs.locale
fontconfig/conf.d
