Code - OSS
LM Studio
blender/4.4/config
copyq
dconf
gh
go/telemetry/local
htop
kde.org
lazygit
millennium
neofetch
neomutt
nvim
nvm
octave
pulse
redshift
spotify-player
systemd/user
wal_steam
wallpaper
waybar_bak
wlogout
wofi
yazi
zathura
dolphinrc
user-dirs.dirs
user-dirs.locale
fontconfig/conf.d
audacity
obsidian
EgoSoft/X4/13151159
OpenTabletDriver
autostart
blender/4.5/config
discord
easyeffects/irs
evolution
fontconfig
fontconfig
fontconfig.bak
guvcview2
nchat
obs-studio
org.coolercontrol.CoolerControl
qt5ct
qt6ct
unity3d/Ludeon Studios/RimWorld by Ludeon Studios
QtProject.conf
kritadisplayrc
kritarc
mimeapps.list
pavucontrol.ini
yazi.toml
fontconfig
menus/applications-merged
Todoist/Cache/Cache_Data/index-dir
Todoist/Cache/Cache_Data
Todoist/Code Cache
Todoist/Crashpad
Todoist/DawnGraphiteCache
Todoist/DawnWebGPUCache
Todoist/Dictionaries
Todoist/GPUCache
Todoist/IndexedDB
Todoist/Local Storage/leveldb
Todoist/Service Worker
Todoist/Session Storage
Todoist/Shared Dictionary
Todoist/WebStorage
Todoist
calcure
cava/shaders
flowblade
ncspot/userstate.cbor
qalculate/qalc.history
spotify
kdenliverc
kdenlive-layoutsrc
kdeglobals
zed
xsettingsd
weylus
vesktop/themes
unity3d
openrazer
openrazer
nwg-look
nvtop
nom
nocturne
newsraft
mapeditor.org
lsp-plugins
legcord/themes
jxbrowser/7.41.3/crash-reports
hyprsunrisewatcher
gtk-4.0
gtk-3.0
comfy-cli
Pinta
Necesse
